* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    color: #444444;
}

a {
    color: inherit;
}

a:hover {
    color: #68726d;
    text-decoration-line: underline;
}

button {
    color: #444444;
    background-color: #d0e0d7;
    border-color: #444444;
    padding: 0.7em 1.5em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    margin-top: 20px;
}

img {
    max-width: 100%;
    max-height: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #d0e0d7;
    padding: 40px 100px;
}

.logo {
    font-weight: 1000;
    font-size: 30px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    width: 400px;
    font-weight: 600;
}

.section-1 {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #d0e0d7;
    gap: 50px;
    padding: 100px;
}

.section-1 .left {
    max-width: 600px;
}

.section-1 img {
    width: 750px;
}

.section-2 {
    background-color: #fff8eb;
    padding: 50px 0;
}

.section-2 h3 {
    display: flex;
    justify-content: center;
    padding: 1.5em;
    font-size: 30px;
    font-weight: 900;
}

.section-2 .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.photos {
    width: 250px;
    height: 250px;
    border-radius: 1em;
    /* border: 1px solid #444444; */
}

.blocks {
    height: 100%;
    width: 250px;
    overflow-wrap: normal;
}


.section-3 {
    background-color: #fff8eb;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.section-3 .quotes {
    width: 700px;
}

.section-3 .quote-1 {
    font-size: 24px;
    font-style: italic;
    padding: 10px;
}

.section-3 .quote-2 {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}


.section-4 {
    background-color: #d0e0d7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.section-4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #d0e0d7;
    width: 100%;
    padding: 40px;
    border-radius: 1em;
}

.section-4 button {
    margin: 0 auto;
}

.footer {
    background-color: #d0e0d7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
